<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>AmazonLex</title>
    <meta name="author" content="lafranch">
    <meta name="description" content="Lex Runtime example from the browser.">
    <meta name="keywords" content="Amazon Lex, SDK, Runtime, Browser, JavaScript">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16"/>
    <link rel="stylesheet" href="style.css">
</head>

<body class="wrapper">
  <h1>Index</h1>

<div class="audio-control">
    <p id="audio-control" class="white-circle">
        <img src="mic.ico" width="100" height="100">
        <canvas class="visualizer"></canvas>
    </p>
    <p><span id="message"></span></p>
    <p>
        <input type="hidden" id="ACCESS_ID" name="ACCESS ID" placeholder="ACCESS ID" value="AKIAJMVOZ7YGNICYZXQQ"/>
    </p>
    <p>
        <input type="hidden" id="SECRET_KEY" name="SECRET KEY" placeholder="SECRET KEY" value="kk59xrc6eiESOKkWcl1L3nKqNeNk4C7wlUNNOEon"/>
    </p>
    <p>
        <input type="hidden" id="BOT" name="BOT" placeholder="BOT" value="Ashwin"/>
    </p>
</div>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.48.0.min.js"></script>
<script src="../dist/aws-lex-audio.js" type="text/javascript"></script>
<script src="renderer.js" type="text/javascript"></script>
<script type="text/javascript">
    var waveform = window.Waveform();
    var message = document.getElementById('message');
    var config, conversation;
    message.textContent = 'Passive';

    document.getElementById('audio-control').onclick = function () {

        AWS.config.credentials = new AWS.Credentials(document.getElementById('ACCESS_ID').value, document.getElementById('SECRET_KEY').value, null);
        AWS.config.region = 'us-east-1';

        config = {
            lexConfig: { botName: document.getElementById('BOT').value }
        };

        conversation = new LexAudio.conversation(config, function (state) {
            message.textContent = state + '...';
            if (state === 'Listening') {
                waveform.prepCanvas();
            }
            if (state === 'Sending') {
                waveform.clearCanvas();
            }
        }, function (data) {
            console.log('ashwin', data.message)
            if(data.message === 'Dashboard'){
               window.location="http://159.89.169.176:3003/dashboard";
            }else if (data.message === 'Settings'){
                window.location="http://159.89.169.176:3003/settings";
            }
            else if (data.message === 'Shipping'){
                window.location="http://159.89.169.176:3003/shipping";
            }else{
                console.log('Transcript: ', data.inputTranscript, ", Response: ", data.message);
                window.location="http://159.89.169.176:3003/default";
            }
        }, function (error) {
            message.textContent = error;
        }, function (timeDomain, bufferLength) {
            waveform.visualizeAudioBuffer(timeDomain, bufferLength);
        });
        conversation.advanceConversation();
    };

</script>
</body>

</html>
